<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBP3VS9tBoiAQwdM5L_5-PjBKfhB8h7F_Q</string>
	<key>GCM_SENDER_ID</key>
	<string>558099384615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cinemaReview.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cinema-review-e2e82</string>
	<key>STORAGE_BUCKET</key>
	<string>cinema-review-e2e82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558099384615:ios:17dc6660bccbdd9d650102</string>
</dict>
</plist>